@font-face {
  font-family: 'Segoe WP';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/SegoeWP.woff2') format('woff2');
}

@font-face {
  font-family: 'Lucida Sans Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/LucidaSans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Segoe UI Light';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/SegoeUI-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Pt Sans Narrow';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/PTSans-Narrow.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/opensans.woff2') format('woff2');
}